<!-- CONTENT ELEMENT 'Image' -->
<div class="mod_image">
    {{#if href}}
        <a href="{{href}}">
    {{/if}}
        {{> generic/image/image image}}
    {{#if href}}
        </a>
    {{/if}}

</div>
<!-- CONTENT ELEMENT 'Image' end -->