<!DOCTYPE html>
<html class="no-js" lang="de-DE">
<head>
    {{> head }}
    <title>{{meta.pagetitle}}</title>
</head>
<body class="page-home">
{{> header modules.header}}

<main class="mod_content">

</main>

{{> footer}}

{{> notification}}

{{> footerjs}}

</body>
</html>