<!DOCTYPE html>
<html>
<head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <title>{{projectName}} - Layouts</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <style type="text/css">
		body {
			font-family: Arial, Sans-Serif;
			background: white;
			margin: 0;
		}
		h1 {
			font-size: 30px;
			margin: 0 25px 20px;
		}
        h2 {
            margin: 40px 25px 20px;
        }
		a {
			font-size: 20px;
            color: black;
            text-decoration: none;
		}
        a:hover {
            text-decoration: underline;
        }
		.center-wrap {
			max-width: 1480px;
			margin: 30px auto 0;
		}
		.content-wrap:after {
			display: block;
			content: '';
			clear: both;
		}
    </style>
</head>
<body>
<div class="center-wrap">
    <h1>Layouts</h1>
    <div class="content-wrap">
        {{#each pages}}
            <ul>
                <li>
                    <a href="../html/{{file}}" target="_blank">{{file}}</a>
                </li>
            </ul>
        {{/each}}
        <h2><a href="../html/iframe.html" target="_blank">Zur iFrame-Ansicht</a></h2>
    </div>
</div>

</body>
</html>