<div class="mod_notification" data-notification-event="no-flexbox">
    <div class="row align-center">
        <div class="column medium-10 large-8">
            <div class="notification_container">
                <h3>Ihr Browser wird nicht unterstützt.</h3>
                <p>Damit die Seite korrekt angezeigt wird, sollten Sie eine aktuelle Version Ihres Browsers einsetzen.</p>
                <a class="notification_close" href="#" data-notification="close"><span class="icon-close"></span></a>
            </div>
        </div>
    </div>
</div>