body {
	font-size: rem-calc(16);
	font-weight: $font-weight-light;
}

b, strong {
	font-weight: $font-weight-bold;
}

p {
	margin: 0 0 1em;

	&:last-child {
		margin-bottom: 0;
	}
}

img[src$=".svg"] {
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.clearfix {
	@include clearfix
}

.visuallyhidden {
	@include visuallyhidden;
}

.clear-block {
	clear: both;
}