<!-- CONTENT ELEMENT 'Headline' -->
<div class="mod_headline{{#if centered}} var_centered{{/if}}">
    {{#if headline}}<h2 class="var_heading">{{headline}}</h2>{{/if}}
    {{#if header}}<h1>{{{header}}}</h1>{{/if}}
</div>
<!-- CONTENT ELEMENT 'Headline' end -->